body {
    background-color: antiquewhite;
}

::placeholder {
    color: black;
}

h1 {
    color: rgb(31, 194, 16);
    font-size: xx-large;
}

form {
    width: 100%;
    height: 50px;
}

input {
    color: black;
    background-color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
